/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
html{
  width: 100%;
}
body{
  top: 0px;
  left:0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  #page{
    width: 100%;
    background-color:#000000 ;
    height: 100%;
    #content{
      padding: 10px 30px;
      margin-top:20px;
      p{
        display: block;
        padding-top: percentage(35/360);
        position: absolute;
        text-align: center;
        width: 100%;
        vertical-align: bottom;
        font-family:"Cabin Sketch",sans-serif ;

      }
    }
  }

  .header{
    color: white;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    font-family:"Cabin Sketch",sans-serif;

    p{
      padding:20px 0px;

    }
  }

  .top10wrapper{
    position: relative;
    width: percentage(360/620);
    padding-bottom: percentage(420/620);
    height: 0px;
    float: left;

    p{
      color: #161dff;
    }
  }

  .top10{
//    background-color: #161dff;
    width: 100%;
    padding-bottom: percentage(335/360);
    -webkit-border-radius: 100%;
    position: absolute;
    bottom: 0px;
    height: 0px;
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle closest-side, #161DFF 0%, #00A3EF 200%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle closest-side, #161DFF 0%, #00A3EF 200%);

    /* Opera */
    background-image: -o-radial-gradient(center, circle closest-side, #161DFF 0%, #00A3EF 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #161DFF), color-stop(2, #00A3EF));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle closest-side, #161DFF 0%, #00A3EF 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle closest-side at center, #161DFF 0%, #00A3EF 200%);
  }

  .huntwrapper{
    position: relative;
    left: -2%;
    width:percentage(260/620);
    padding-bottom: percentage(320/620);
    height: 0px;
    float: left;
    margin-top:40%;


    p{
      color:#e67d12;
    }

  }

  .hunt{
    position: absolute;
    bottom: 0px;
    -webkit-border-radius: 100%;
    width:100%;
    padding-bottom:percentage(180/190);
//    background-color: #e67d12;
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle closest-side, #E67D12 0%, #C69930 200%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle closest-side, #E67D12 0%, #C69930 200%);

    /* Opera */
    background-image: -o-radial-gradient(center, circle closest-side, #E67D12 0%, #C69930 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #E67D12), color-stop(2, #C69930));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle closest-side, #E67D12 0%, #C69930 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle closest-side at center, #E67D12 0%, #C69930 200%);
  }

  .donatewrapper{
    position: relative;
    left:3%;
    width: percentage(450/620);
    padding-bottom:percentage(540/620);
    height: 0px;
    margin-top:-21%;
    float: left;

    p{
      color:#008c2e;
    }
  }

  .donate{
    position: absolute;
    bottom: 0px;
    -webkit-border-radius: 100%;
    width:100%;
    padding-bottom:percentage(200/210);
//    background-color: #008c2e;
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle closest-side, #008C2E 0%, #00BFC6 200%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle closest-side, #008C2E 0%, #00BFC6 200%);

    /* Opera */
    background-image: -o-radial-gradient(center, circle closest-side, #008C2E 0%, #00BFC6 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #008C2E), color-stop(2, #00BFC6));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle closest-side, #008C2E 0%, #00BFC6 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle closest-side at center, #008C2E 0%, #00BFC6 200%);
  }

  .footer{
    position: absolute;
    bottom: 0px;
    padding-left:40px;

    .container{
      background-image: url(bottom.png);
      width: 38px;
      height: 130px;
      background-size: contain;

    }
  }


  .button{
    p{
      color: white;
      margin-top: 35% !important;
      margin: 35% auto !important;
      padding: 0px 10px !important;
      -webkit-box-sizing: border-box;
      line-height: 1.5em;
    }

    .loading{
      width: 5px;
      height: 5px;
      display: block;
      border: 1px solid white;
    }
  }
}



.rightRotate {
  transition:All 0.5s ease-out;
  -webkit-transition:All 0.5s ease-out;
  -moz-transition:All 0.5s ease-out;
  -o-transition:All 0.5s ease-out;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}
.rightRotate:hover{
  transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
}

.leftRotate {
  transition:All 0.5s ease-out;
  -webkit-transition:All 0.5s ease-out;
  -moz-transition:All 0.5s ease-out;
  -o-transition:All 0.5s ease-out;
  transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
}
.leftRotate:hover{
  transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
}

.bottomRotate {
  transition:All 0.5s ease-out;
  -webkit-transition:All 0.5s ease-out;
  -moz-transition:All 0.5s ease-out;
  -o-transition:All 0.5s ease-out;
  transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}
.bottomRotate:hover{
  transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(0.88) skew(1deg) translate(0px);
}


.initStateLeft{
  -webkit-transform: translate(29%, 30%);
  z-index: 2;
}

.initStateRight{
  -webkit-transform: translate(-70%, -10%);
  z-index: 1;
}
.initStateBottom{
  -webkit-transform: translate(10%, -75%);
  z-index: 3;
}